body {
  background-image: url("./assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed, scroll;
  height: 100vh;
}

.App {
  margin: 0 10%;

  .section {
    display: flex;

    .Map {
      width: 70%;
      position: relative;
    }

    .Sidebar {
      width: 30%;
      position: relative;
    }

    .CheatCodes {
      width: 100%;
      position: relative;
    }

    .pannel {
      margin: 0.7%;
    }
  }

  .colorbox {
    color: white;
    display: flex;
    align-items: baseline;
    margin: 10px;
  }
  .translucent {
    position: absolute;
    z-index: -1;
    background-color: white;
    border-radius: 12px;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .text-black {
    color: #000;
  }

  .home-header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: gray;
  }
}
