body {
  background-image: url("./assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed, scroll;
  height: 100vh;
}

.App {
  margin: 0 10%;

  .section {
    display: flex;

    .Map {
      width: 70%;
      position: relative;
    }

    .Sidebar{
      width: 30%;
      position: relative;
    }
  }

  .cheat-codes {
    display: flex;
    flex-direction: column;

    .cc-title {
      margin: 0 auto 6px;

    }

    .CheatCodes {
      position: relative;
      margin: 0 auto;

      .p-2 {
        display: flex;
        justify-content: center;
      }
    }
  }

  .translucent {
    position: absolute;
    z-index: -1;
    background-color: white;
    border-radius: 12px;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .pannel {
    margin: 0.7%;
  }

  .text-black {
    color: #000;
  }

  .footer-tag {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 19px;

    .team {
      color: white;
    }
  }
}