.Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.console {
		width: 100%;
		max-height: 100%;
		background-color: black;
		border-radius: 12px;
		padding: 5%;

		h3 {
			border-bottom: 1px dashed white;
			margin-bottom: 20px;
			padding-bottom: 4px;
		}

		p {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.alert {
			margin-top: 26px;
		}
	}

	.player-room-toggle {
		display: flex;
		justify-content: flex-end;


		.fas {
			top: 0;
			margin: 24px 22px 0 0;
			position: absolute;
			color: white;
		}
	}

	.bottom-half {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 26px;

		.dpad {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 4rem;
			// border-radius: 20px;

		    .round-button {
				width: 62px;
				height: 60px;
				border-radius: 50%;
				// font-size: 1.1rem;
		    }

			.N {}
			.E {
				margin-left: 22px;
			}
			.W {
				margin-right: 22px;
			}
			.S {}
			.center {}
		}

		.action-button {
			// width: 96px;
			// padding: 6px;
			// font-size: 18px;
			border-radius: 18px;
		}


		.traverse-buttons {
			max-height: 100%;
			display: flex;
			justify-content: space-around;
		}
	}

	.info-box {
		margin-top: 15px;
		text-align: center;
	}

	@media screen and (max-width: 835px) {
		.dpad {
			.round-button {
				margin: 5px 0;
			}

			.center {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
